@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
@import url('../css/reset.css');

body {
    background: white;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
#map {
    width: 100vw;
    height: 100vh;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    position: relative;
    background: grey;
    .search-section {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 30px;
        z-index: 1;
        width: 500px;
        
        .search-box {
            display: flex;
            // border: solid 1px grey;
            border-radius: 5px;
            padding: 5px;
            box-shadow: 1px 1px 12px 2px #ccc;

            img {
                margin-left: 10px;
                margin-top: 3px;   
                margin-bottom: 3px; 
                color: grey
            }

            .search {
                border-style: none;
                border-radius: 5px;
                margin-left: 8px;
                color: grey;
                width: 100%;
            }
        }

        .weather-info {
            margin-top: 17px;
            padding: 3px 10px;
            background: grey;
            border-radius: 5px;
            box-shadow: 1px 1px 12px 2px #ccc;

            .detail {
                color: white;
                h1 {
                    font-weight: 700;
                    font-size: 60px;
                    text-transform: capitalize;
                    sup {
                        vertical-align: super;
                        font-size: 45px;
                    }
                }
                h2 {
                    margin-top: 10px;
                    font-weight: 500;
                    font-size: 35px;
                    text-transform: capitalize;
                }
                h3 {
                    margin-left: 2px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    font-size: 25px;
                    text-transform: capitalize;
                }
            }
            
            .cards-section {
                display: grid;
                grid-template-columns: repeat(3,1.2fr);
                grid-auto-rows: 45%;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                margin-top: 15px;

                .wind, .preasure, .humidity{
                    padding: 5px 5px 20px 5px;
                    background: white;
                    float: left;
                    box-sizing: border-box;
                    margin-left: 4px;
                    margin-right: 4px;
                    border-radius: 5px;
                    text-align: center;
                    img {
                        margin: 0 auto;
                        display: inline-block;
                    }
                    p {
                        margin-top: 10px;
                        font-size: 16px;
                        font-weight: bold;

                    }
                }
                .wind {

                }
                .preasure {
                }
                .humidity {
                }
            }
        }
        
    }
}
