@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap");
@import url("../css/reset.css");
body {
  background: white;
  padding: 0;
  font-family: 'Ubuntu', sans-serif; }

#map {
  width: 100vw;
  height: 100vh; }

sup {
  vertical-align: super; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.container {
  position: relative;
  background: grey; }
  .container h1 {
    text-align: center;
    margin: 22px 10px;
    font-size: 23px;
    font-weight: 600; }
  .container .search-section {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 30px;
    z-index: 1;
    width: 500px; }
    .container .search-section .search-box {
      display: flex;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 1px 1px 12px 2px #ccc; }
      .container .search-section .search-box img {
        margin-left: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        color: grey; }
      .container .search-section .search-box .search {
        border-style: none;
        border-radius: 5px;
        margin-left: 8px;
        color: grey;
        width: 100%; }
      .container .search-section .search-box button {
        border: none;
        background: green;
        height: 100%;
        border-radius: 2px;
        padding: 1px 15px;
        box-shadow: 0px 0px 5px 1px #ccc; }
    .container .search-section .weather-info {
      margin-top: 17px;
      padding: 3px 10px;
      background: grey;
      border-radius: 5px;
      box-shadow: 1px 1px 12px 2px #ccc; }
      .container .search-section .weather-info .detail {
        color: white; }
        .container .search-section .weather-info .detail h1 {
          font-weight: 700;
          font-size: 60px;
          text-transform: capitalize; }
          .container .search-section .weather-info .detail h1 sup {
            font-size: 45px; }
        .container .search-section .weather-info .detail h2 {
          margin-top: 10px;
          font-weight: 500;
          font-size: 35px;
          text-transform: capitalize; }
        .container .search-section .weather-info .detail h3 {
          margin-left: 2px;
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 25px;
          text-transform: capitalize; }
      .container .search-section .weather-info .cards-section {
        display: grid;
        grid-template-columns: repeat(3, 1.2fr);
        grid-auto-rows: 45%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-top: 15px; }
        .container .search-section .weather-info .cards-section .wind, .container .search-section .weather-info .cards-section .preasure, .container .search-section .weather-info .cards-section .humidity {
          padding: 5px 5px 20px 5px;
          background: white;
          float: left;
          box-sizing: border-box;
          margin-left: 4px;
          margin-right: 4px;
          border-radius: 5px;
          text-align: center; }
          .container .search-section .weather-info .cards-section .wind img, .container .search-section .weather-info .cards-section .preasure img, .container .search-section .weather-info .cards-section .humidity img {
            margin: 0 auto;
            display: inline-block; }
          .container .search-section .weather-info .cards-section .wind p, .container .search-section .weather-info .cards-section .preasure p, .container .search-section .weather-info .cards-section .humidity p {
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 24px; }

.slider.round:before {
  border-radius: 50%; }
